@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

  background: url(../sea.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

*, *:before, *:after {
	box-sizing: inherit;
}

h1{
	font-family: 'Cedarville Cursive', cursive;
	color: white;
	font-size: 2em;
	margin-left: 1.5em;
}

h2{
	font-family: 'Cedarville Cursive', cursive;
	color: white;
	font-size: 1.5em;
	position: relative;

	-webkit-animation: word-fade-1 1.5s ease-out;
	-moz-animation: word-fade-1 1.5s ease-out;
	-o-animation: word-fade-1 1.5s ease-out;
	animation: word-fade-1 1.5s ease-out;
}	

.all-icons{
	margin-top: 6em;
	position: relative;
	text-align: center;
}

.container{
	display: inline-block;
	text-align: center;
	position: relative;
}

.icon-link{
	position: relative;
	text-align: center;
	display: inline-block;
	font-size: 6em;
	color: white;
	border: white solid 8px;
	padding: 0.3em;
	margin: 0.2em;

	-webkit-animation: icon-fade 1s ease-out;
	-moz-animation: icon-fade 1s ease-out;
	-o-animation: icon-fade 1s ease-out;
	animation: icon-fade 1s ease-out;

	transition: all linear;
}

.container .icon-link:hover{
	font-size: 6.5em;
	padding:0.21em;
	transition: all linear;
	background-color: rgba(118,244,232,0.25);

}

/*H2 ANIMATION*/

@-webkit-keyframes word-fade-1 {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  50%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}


/*ICON ANIMATION ALL*/

@-webkit-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  10%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@-webkit-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@-moz-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@-o-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}