@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

  background: url(../sea.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

*, *:before, *:after {
	box-sizing: inherit;
}

h1{
	font-family: 'Cedarville Cursive', cursive;
	color: white;
	font-size: 2em;
	margin-left: 1em;
}

.icons{
	position: relative;
	text-align: center;
}

.icons-visible{
	margin-top: 6em;

}

.icons-all{
	display: inline-block;
	position: relative;
	text-decoration: none;

	-webkit-animation: icon-fade 1.5s ease-out;
	-moz-animation: icon-fade 1.5s ease-out;
	-o-animation: icon-fade 1.5s ease-out;
	animation: icon-fade 1.5s ease-out;
}

.icon-shell, .icon-anchor, .icon-plane{
	color: #0e4051;
	border: solid 8px #0e4051;
	font-size: 5em;
	padding: 0.4em;
	margin: 0.2em;
}


.icon-heart, .icon-sun, .icon-camera{
	color: white;
	font-size: 4em;
	padding: 0.6em;
	margin: 0.5em;
}


/*ICON ANIMATION*/

@-webkit-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@-webkit-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@-moz-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@-o-keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}

@keyframes icon-fade {
  0%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  5%   { 
  	top: 15rem; 
  	opacity: 0;
  }

  100% { 
  	top: 0; 
  	opacity: 1;
  }
}
