@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

  background: url(../sea.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

*, *:before, *:after {
	box-sizing: inherit;
}

h1{
	font-family: 'Cedarville Cursive', cursive;
	color: white;
	font-size: 2em;
	margin-left: 1em;
}

.all-icons{
	margin-top: 6em;
	position: relative;
	text-align: center;
}

.container{
	display: inline-block;
	text-align: center;
	position: relative;
}

.icon-link{
	position: relative;
	text-align: center;
	display: inline-block;
	font-size: 6em;
	color: white;
	border: white solid 8px;
	padding: 0.3em;
	margin: 0.2em;
}

.icon-link:hover .icon-shell:before {

    -webkit-animation: switch 1s ease-out;
	-moz-animation: switch 1s ease-out;
	-o-animation: switch 1s ease-out;
	animation: switch 1s ease-out;

	transition: all linear;
}


/*ICON ANIMATION*/


@-webkit-keyframes switch {
	49% {
		-webkit-transform: rotate(360deg);
		-webkit-transform: translateY(100%);

	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
		content: '\e801';
	}
}
@-moz-keyframes switch {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
		content: '\e801';
	}
	51% {
		opacity: 1;
		content: '\e801';
	}
}
@keyframes switch {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
		content: '\e801';
	}
	51% {
		opacity: 1;
		content: '\e801';
	}
}
